.calculator {
    display: block;
    margin: auto;
    border: solid 1px #ada3a3;
    background-color: rgb(178, 187, 187);
    padding: 20px;
    max-width: 400px;
    justify-content: center;
    border-radius: 10px;
    
}

label,
input {
    display: block;
}

input {
    margin-bottom: 10px;
    border-radius: 5px;
}

