* {
    /* CSS Reset */
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(68, 74, 74);
}

.container{
    width: 300px;
    margin: 30% auto;
    text-align: center;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 10px;;
}

.calculadoraIMC{
    display: flex;
    flex-direction: column;
}